<!DOCTYPE html>
<html>

<head>
  <title>Jokes4Jennifer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>A Joke A Day For Jennifer</h1>
  <div class="card">
    <p>
      <%= setup %>
      <%= delivery %>
      <%= joke %>
    </p>
  </div>
 
</body>

</html>